*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: -apple-system, serif;
}

body{
  line-height:1.6;
  background:#f5f5f5;
}

/* HEADER */
.header{
  background:linear-gradient(90deg, #d4e6dc, #0c822f);
  color:#050505;
  position:static;
  top:0;
  width: 100%;
  z-index: 1000;
  padding: 0px 20px;
  border-radius:  0 0 16px 16px;
  display: flex;
  justify-content: space-between;
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 0;
}

.logo{
  width:250px;

}

.nav-links{
  list-style:none;
  display:flex;
  gap:20px;
}

.nav-links a{
  color:white;
  text-decoration:none;
  font-weight:bold;
}

.nav-links a:hover{
  color:#0c822f;
}

/* HERO */
.hero{
  height:90vh;
  background:url('../images/pexels-peter.jpg') center/cover no-repeat;
  display:flex;
  align-items:center;
  padding:50px;
  color:rgb(255, 254, 254);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-top: -20px;
}

.hero-text{
  max-width:500px;
  animation: fadeUp 1s ease forwards;
}

.hero h1{
  font-size:2.8rem;
  margin-bottom:15px;
}

.btn{
  display:inline-block;
  background:#ffd700;
  color:black;
  padding:12px 25px;
  text-decoration:none;
  margin-top:15px;
  border-radius:5px;
  font-weight:bold;
  transition:0.3s;
}

.btn:hover{
  background:white;
}

/* CONTAINERS */
.container{
  width:90%;
  max-width:1200px;
  margin:auto;
  padding:40px 0;
}

/* GRID */
.grid-3{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.grid-4{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:20px;
  text-align:center;
}

/* CARDS */
.card{
  background:white;
  border-radius:10px;
  overflow:hidden;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
  transition:0.3s;
}

.card img{
  width:100%;
  height:180px;
  object-fit:cover;
}

.card h3{
  padding:15px;
}

.card p{
  padding:0 15px 15px;
}

.card:hover{
  transform:translateY(-8px);
}

/* SPLIT */
.split{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:40px;
  align-items:center;
}

.split img{
  width:100%;
  border-radius:10px;
}

.split-text ul{
  margin-top:15px;
}

/* STATS */
.stats{
  background:#eeeeee;
  color:rgb(2, 2, 2);
  text-align:center;
  padding:40px 0;
}

.stats h3{
  font-size:2rem;
}

/* CTA */
.cta{
  text-align:center;
  padding:60px 20px;
  background:#eeeeee;
}

/* FOOTER */
.footer{
  background:#0d5c2f;
  color:white;
  text-align:center;
  padding:20px;
}

/* ANIMATIONS */
@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(30px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}








